{% extends 'base.html' %}

{% block content %}

<!-- <h1>Hello World!!</h1> -->

<br/>


{% if zipcode %}
	{{ zipcode }}
{% endif %}
{{ api }}
<!-- {{ api.0 }} -->
<!-- {{ api.0.AQI }} -->

<!-- {{ api }}<br/><br/>
{{ api.0 }}<br/><br/> -->

{% if api %}
	{% if api == "Error..." %}
		There is an error, please try again
	{% else %}

		<div class="jumbotron {{ category_color }}">
		  <h1 class="display-4">{{ api.0.Category.Name }}<br/></h1>
		  <p class="lead">Current {{ api.0.ReportingArea }} Air Quality: {{ api.0.AQI }} </p>
<!-- 		  <hr class="my-4"> -->


		  <p>{{ category_description }}</p>

<!-- 		  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p> -->
<!-- 		  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
		</div>
<!-- 		Air Quality: {{ api.0.AQI }}<br/> -->
<!-- 		Area: {{ api.0.ReportingArea }}<br/>
		Category: {{ api.0.Category.Name }}<br/><br/> -->
	{% endif %}

{% endif %}

<!-- {{ api.1 }}<br/><br/>
Air Quality: {{ api.1.AQI }}<br/>
Area: {{ api.1.ReportingArea }}<br/>
Category: {{ api.1.Category.Name }}<br/><br/>

{{ api.2 }}<br/><br/>
Air Quality: {{ api.2.AQI }}<br/>
Area: {{ api.2.ReportingArea }}<br/>
Category: {{ api.2.Category.Name }}<br/><br/> -->


{% endblock %}